In [1]:
# https://drive.google.com/file/d/1FRnbQqgK6S-mr9StNF5MurSaXhah9uoJ/view?usp=sharing


# https://drive.google.com/file/d/11rPJXr-9VoeV2Pi0RSfVehw1tbQOAjLI/view?usp=sharing

# https://docs.google.com/spreadsheets/d/1z4EWsGxw0YBQ1-51xZDxYNlB3ngJzg4t/edit?usp=sharing&ouid=118282207943964605599&rtpof=true&sd=true


# https://docs.google.com/spreadsheets/d/1z2n8aeFF5GoohQ3KCZw8bKogezpO9l4k/edit?usp=sharing&ouid=118282207943964605599&rtpof=true&sd=true

# 1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
# 2 .Total working days for each agents 
# 3. Total query that you hvae taken 
# 4. total Feedback that you have received 
# 5. a agent name who have average rating between 3.5 to 4 
# 6 . Agent name who have rating lesss then 3.5 
# 7 . agent name who have rating more then 4.5 
# 8 . how many feedaback agents have received more then 4.5 average
# 9 . average weekly response time for each agent 
# 10 . average weekely resolution time for each agents 
# 11 . list of all agents name 
# 12 . percentage of chat on which they have received a feedback 
# 13 . Total contributation hour for each and every agents weekly basis 
# 14. total percentage of active hour for a month

In [2]:
import pandas as pd

In [3]:
rpt=pd.read_csv(r"F:\Data_science\pandas\AgentLogingReport.csv")

In [4]:
prfm=pd.read_csv(r"F:\Data_science\pandas\AgentPerformance.csv")

In [5]:
rpt

     SL No               Agent       Date Login_Time Logout_Time   Duration
0        1  Shivananda Sonwane  30-Jul-22   15:35:29    17:39:39   02:04:10
1        2      Khushboo Priya  30-Jul-22   15:06:59    15:07:16   00:00:17
2        3       Nandani Gupta  30-Jul-22   15:04:24    17:31:07   02:26:42
3        4     Hrisikesh Neogi  30-Jul-22   14:34:29    15:19:35   00:45:06
4        5              Mukesh  30-Jul-22   14:03:15    15:11:52   01:08:36
..     ...                 ...        ...        ...         ...        ...
995    996        Manjunatha A  20-Jul-22   09:03:51    15:02:28   05:58:37
996    997             Bharath  20-Jul-22   09:00:49    15:01:32   06:00:43
997    998      Khushboo Priya  20-Jul-22   08:59:20    14:26:55   05:27:34
998    999        Nishtha Jain  20-Jul-22   08:43:55    14:00:33   05:16:38
999   1000               Tarun  01-Jul-22   01:52:47    12:01:07  514:08:20

[1000 rows x 6 columns]

In [6]:
prfm

,SL_No,Date,Agent_Name,Total_Chats,Average_Response_Time,Average_Resolution_Time,Average_Rating,Total_Feedback
0,1,7/30/2022,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,00:01:15,00:28:25,4.50,7
2,3,7/30/2022,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,7/30/2022,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,07-01-2022,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0
2156,2157,07-01-2022,Nitin M,0,00:00:00,00:00:00,0.00,0
2157,2158,07-01-2022,Vivek,0,00:00:00,00:00:00,0.00,0
2158,2159,07-01-2022,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0
2159,2160,07-01-2022,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0

In [6]:
# 1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [7]:
prfm['date_time']= pd.to_datetime(prfm['Date'])

In [8]:
prfm.columns

Index(['SL_No', 'Date', 'Agent_Name', 'Total_Chats', 'Average_Response_Time',
       'Average_Resolution_Time', 'Average_Rating', 'Total_Feedback',
       'date_time'],
      dtype='object')

In [9]:
prfm['week_of_yerr']=prfm['date_time'].dt.weekofyear

C:\Users\PRABHA~1\AppData\Local\Temp/ipykernel_9456/1674658737.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  prfm['week_of_yerr']=prfm['date_time'].dt.weekofyear

In [10]:
prfm.columns

Index(['SL_No', 'Date', 'Agent_Name', 'Total_Chats', 'Average_Response_Time',
       'Average_Resolution_Time', 'Average_Rating', 'Total_Feedback',
       'date_time', 'week_of_yerr'],
      dtype='object')

In [11]:
prfm.groupby('week_of_yerr')['Average_Rating'].mean()

week_of_yerr
26    0.998704
27    1.386647
28    1.548492
29    1.511389
30    1.620995
Name: Average_Rating, dtype: float64

In [12]:
# 2 .Total working days for each agents 
prfm['Agent_Name'].value_counts()

Rishav Dash       60
Ashish            60
Sandipan Saha     30
Anurag Tiwari     30
Zeeshan           30
                  ..
Saurabh Shukla    30
Wasim             30
Samprit           30
Maitry            30
Jawala Prakash    30
Name: Agent_Name, Length: 70, dtype: int64

In [13]:
# 3. Total query that you hvae taken 
# 4. total Feedback that you have received 
# 5. a agent name who have average rating between 3.5 to 4 
# 6 . Agent name who have rating lesss then 3.5 
# 7 . agent name who have rating more then 4.5 
# 8 . how many feedaback agents have received more then 4.5 average
# 9 . average weekly response time for each agent 
# 10 . average weekely resolution time for each agents 
# 11 . list of all agents name 
# 12 . percentage of chat on which they have received a feedback 
# 13 . Total contributation hour for each and every agents weekly basis 
# 14. total percentage of active hour for a month

In [14]:
# 3. Total query that you hvae taken 
prfm.query()

TypeError: query() missing 1 required positional argument: 'expr'

In [15]:
# 4. total Feedback that you have received 
count=0
for i in  prfm.Total_Feedback:
    if i > 0 :
        count = count+1
print(count)

731

In [16]:
prfm.value_counts([prfm.Total_Feedback>0])

Total_Feedback
False             1429
True               731
dtype: int64

In [17]:
# 5. a agent name who have average rating between 3.5 to 4 
prfm[(prfm.Average_Rating>3.5) & (prfm.Average_Rating<4) ].Agent_Name

4                    Swati
10             Manjunatha A
76            Prateek _iot
78            Nandani Gupta
80            Jaydeep Dixit
               ...
1869    Boktiar Ahmed Bappy
1874          Ayushi Mishra
1941         Jawala Prakash
2021          Aditya Shinde
2023       Deepranjan Gupta
Name: Agent_Name, Length: 78, dtype: object

In [18]:
prfm.columns

Index(['SL_No', 'Date', 'Agent_Name', 'Total_Chats', 'Average_Response_Time',
       'Average_Resolution_Time', 'Average_Rating', 'Total_Feedback',
       'date_time', 'week_of_yerr'],
      dtype='object')

In [19]:
# 6 . Agent name who have rating lesss then 3.5 
prfm[prfm.Average_Rating<3.5 ].Agent_Name

19        Hitesh Choudhary
20              Sanjeevan
21                Anirudh
22        Shiva Srivastava
23              Dibyanshu
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent_Name, Length: 1473, dtype: object

In [20]:
# 7 . agent name who have rating more then 4.5 
prfm[prfm.Average_Rating>4.5 ].Agent_Name

2               Ameya Jain
3            Mahesh Sarade
5                  Mukesh
6          Saikumarreddy N
7            Sanjeev Kumar
               ...
2100        Shubham Sharma
2101         Jaydeep Dixit
2102    Shivananda Sonwane
2103        Khushboo Priya
2104       Hrisikesh Neogi
Name: Agent_Name, Length: 307, dtype: object

In [21]:
# 8 . how many feedaback agents have received more then 4.5 average
# 9 . average weekly response time for each agent 
# 10 . average weekely resolution time for each agents 
# 11 . list of all agents name 
# 12 . percentage of chat on which they have received a feedback 
# 13 . Total contributation hour for each and every agents weekly basis 
# 14. total percentage of active hour for a month

In [22]:
# 8 . how many feedaback agents have received more then 4.5 average
prfm.value_counts([prfm.Average_Rating >4.5] )

Average_Rating
False             1853
True               307
dtype: int64

In [30]:
prfm

,SL_No,Date,Agent_Name,Total_Chats,Average_Response_Time,Average_Resolution_Time,Average_Rating,Total_Feedback,date_time,week_of_yerr
0,1,7/30/2022,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30,30
1,2,7/30/2022,Nandani Gupta,11,00:01:15,00:28:25,4.50,7,2022-07-30,30
2,3,7/30/2022,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30,30
3,4,7/30/2022,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30,30
4,5,7/30/2022,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30,30
...,...,...,...,...,...,...,...,...,...,...
2155,2156,07-01-2022,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0,2022-07-01,26
2156,2157,07-01-2022,Nitin M,0,00:00:00,00:00:00,0.00,0,2022-07-01,26
2157,2158,07-01-2022,Vivek,0,00:00:00,00:00:00,0.00,0,2022-07-01,26
2158,2159,07-01-2022,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0,2022-07-01,26
2159,2160,07-01-2022,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0,2022-07-01,26

In [31]:
# 9 . average weekly response time for each agent 
prfm['response_time'] = pd.to_datetime(prfm['Average_Response_Time'])

In [34]:
prfm['response_date']= pd.to_datetime(prfm['Date'])

In [36]:
prfm['response_weak']= prfm['response_date'].dt.weekofyear

C:\Users\PRABHA~1\AppData\Local\Temp/ipykernel_9456/1883490398.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  prfm['response_weak']= prfm['response_date'].dt.weekofyear

In [38]:
prfm.head(2)

,SL_No,Date,Agent_Name,Total_Chats,Average_Response_Time,Average_Resolution_Time,Average_Rating,Total_Feedback,date_time,week_of_yerr,response_time,response_date,response_weak
0,1,7/30/2022,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30,30,2022-08-13 00:00:38,2022-07-30,30
1,2,7/30/2022,Nandani Gupta,11,00:01:15,00:28:25,4.50,7,2022-07-30,30,2022-08-13 00:01:15,2022-07-30,30

In [48]:
prfm.groupby(['Agent_Name','response_weak']).response_time.mean()

Agent_Name  response_weak
Abhishek    26              2022-08-13 00:00:00.000000000
            27              2022-08-13 00:00:00.000000000
            28              2022-08-13 00:00:00.000000000
            29              2022-08-13 00:00:00.000000000
            30              2022-08-13 00:00:00.000000000
                                         ...
Zeeshan     26              2022-08-13 00:00:00.000000000
            27              2022-08-13 00:00:23.571428608
            28              2022-08-13 00:02:03.428571392
            29              2022-08-13 00:01:02.857142784
            30              2022-08-13 00:01:03.833333504
Name: response_time, Length: 350, dtype: datetime64[ns]

In [ ]:
# 11 . list of all agents name 
# 12 . percentage of chat on which they have received a feedback 
# 13 . Total contributation hour for each and every agents weekly basis 
# 14. total percentage of active hour for a month

In [62]:
# 11 . list of all agents name 
prfm['Agent_Name'].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

In [71]:
# 12 . percentage of chat on which they have received a feedback 
value=prfm.value_counts([prfm.Total_Chats >0 , prfm.Total_Feedback>0])

In [72]:
value

Total_Chats  Total_Feedback
False        False             1415
True         True               731
             False               14
dtype: int64

In [73]:
731/(731+14)*100

98.12080536912752

In [74]:
# 13 . Total contributation hour for each and every agents weekly basis 
prfm['resolution_time'] = pd.to_datetime(prfm['Average_Resolution_Time'])

In [75]:
prfm.head()

,SL_No,Date,Agent_Name,Total_Chats,Average_Response_Time,Average_Resolution_Time,Average_Rating,Total_Feedback,date_time,week_of_yerr,response_time,response_date,response_weak,resolution_time
0,1,7/30/2022,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30,30,2022-08-13 00:00:38,2022-07-30,30,2022-08-13 00:04:20
1,2,7/30/2022,Nandani Gupta,11,00:01:15,00:28:25,4.50,7,2022-07-30,30,2022-08-13 00:01:15,2022-07-30,30,2022-08-13 00:28:25
2,3,7/30/2022,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30,30,2022-08-13 00:00:30,2022-07-30,30,2022-08-13 00:11:36
3,4,7/30/2022,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30,30,2022-08-13 00:01:04,2022-07-30,30,2022-08-13 00:15:46
4,5,7/30/2022,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30,30,2022-08-13 00:01:11,2022-07-30,30,2022-08-13 00:16:33

In [76]:
prfm.groupby(['Agent_Name','response_weak']).resolution_time.mean()

Agent_Name  response_weak
Abhishek    26              2022-08-13 00:00:00.000000000
            27              2022-08-13 00:00:00.000000000
            28              2022-08-13 00:00:00.000000000
            29              2022-08-13 00:00:00.000000000
            30              2022-08-13 00:00:00.000000000
                                         ...
Zeeshan     26              2022-08-13 00:00:00.000000000
            27              2022-08-13 00:05:23.000000000
            28              2022-08-13 00:16:24.285714176
            29              2022-08-13 00:13:14.285714176
            30              2022-08-13 00:12:53.500000000
Name: resolution_time, Length: 350, dtype: datetime64[ns]

In [77]:
# 14. total percentage of active hour for a month